.blurb {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: row;
}

.blurb__image {
  max-width: 100px;
  max-height: 100px;
}

.blurb__text  {
  padding: 0 10px;
  line-height: 1.5;
}

@media (min-width: 1000px) {
  .blurb {
      max-width: 300px;
      flex-direction: column;
      position: relative;
      border-radius: 15px;
      padding: 70px 20px 30px 20px;
  }

  .blurb__image {
      position: absolute;
      top: -70px;
      max-width: 150px;
      max-height: 150px;
  }

  .blurb__text {
      line-height: 1.5;
  }
}